@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


h1,
h2,
h3,
p,
a {
    font-family: 'Roboto', sans-serif;

    /*font-family: 'Shrikhand', cursive;*/
}

h1 {
    font-weight: 700;
}

h3 {
    font-weight: 400;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
}


.logo {
    width: 100%;
    min-width: 100%;
    height: 40px;
    justify-content: center;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Shrikhand', cursive;
    font-size: 35px;
    text-decoration: none;
    color: black;
}

.location {
    width: 100%;
    min-width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    float: left;
    justify-content: center;
    align-content: center;
    background-color: #eaeaea;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow: inset 0px 8px 6px -6px #cfcfcf;
    -moz-box-shadow: inset 0px 8px 6px -6px #cfcfcf;
    box-shadow: inset 0px 8px 6px -6px #cfcfcf;
}

.location .fa-map-marker-alt {
    font-size: 20px;
    margin-right: 20px;
}

.location h3 {
    height: 20px;
    font-size: 20px;
    margin: 0;
    justify-content: center;
    text-align: center;
}

.first-wrap {
    margin: 0;
    width: 100%;
    min-width: 100%;
    height: auto;
    background-color: #f6f6f6;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.first-wrap h1 {
    width: 96%;
    height: auto;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    margin: 50px 2% 0px 2%;
}

.first-wrap p {
    width: 96%;
    height: auto;
    text-align: center;
    font-size: 22px;
    font-weight: 100;
    margin: 15px 2% 0px 2%;
}

.btn-grad {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
    border-radius: 50px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-grad:hover {
    background-image: linear-gradient(to right bottom, #fb8adc, #e784dc, #d17edc, #ba79da, #a274d8);
}

.second-wrap {
    width: 100%;
    min-width: 100%;
    height: auto;
    padding-bottom: 370px;
    display: block;
}

.second-wrap h1 {
    width: auto;
    height: auto;
    margin: 50px 0px 0px 20px;
}

.second-wrap .step {
    width: 85%;
    min-width: 85%;
    height: 80px;
    margin: 20px 35px 20px 35px;
    background-color: #f6f6f6;
    display: flex;
    float: left;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.second-wrap .step:hover {
    background-color: #f5edff;
    cursor: pointer;
}

.second-wrap .step .step-row {
    margin: 25px 20px 0px -15px;
    height: 30px;
    width: 30px;
    color: #FFF;
    background-color: #9356DC;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
}

.second-wrap .step .fas {
    margin-right: 20px;
    height: auto;
    line-height: 80px;
}

.second-wrap .step .fa-mobile-alt {
    color: #7e7e7e;
}

.second-wrap .step .fa-list-ul {
    color: #7e7e7e;
}

.second-wrap .step .fa-store {
    color: #9356DC;
}

.second-wrap .step h3 {
    margin: 0;
    height: auto;
    line-height: 80px;
}

.third-wrap {
    width: 100%;
    min-width: 100%;
    height: auto;
    margin-top: 30px;
    background-color: #f6f6f6;
    padding: 30px 0px 50px 0px;
}

.third-wrap h1 {
    width: auto;
    height: auto;
    margin: 50px 0px 0px 20px;
}

.third-wrap .block {
    width: 100% - 40px;
    min-width: 100% - 40px;
    height: 300px;
    margin: 20px;
    background-color: #FFF;
    border-radius: 20px;
}

.third-wrap .block img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    min-width: 100%;
    height: 200px;
    object-fit: cover;
}

.third-wrap .block .first-part {
    margin: 0px;
    height: 100px;
    width: 80%;
    display: flex;
    float: left;
    flex-direction: column;
}

.third-wrap .block .second-part {
    margin: 0px 20px 0px 0px;
    height: 100px;
    width: 10%;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.third-wrap .block .first-part a {
    font-size: 22px;
    font-weight: 600;
    height: auto;
    margin: 20px 0px 0px 20px;
    text-decoration: none;
    color: #000;
}

.third-wrap .block .first-part p {
    font-size: 22px;
    font-weight: 100;
    height: auto;
    margin: 5px 0px 0px 20px;
}


.third-wrap .block .second-part .fa-heart {
    font-size: 30px;
    font-weight: 100;
    width: 30px;
    text-align: right;
}

.fa-heart::before {
    font-weight: 100;
    transition: color 0.5s ease-out;
    transition: opacity 05.s;
}

.fa-heart:hover::before {
    font-weight: bold;
    background: linear-gradient(to top, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

footer {
    width: 100%;
    min-width: 100%;
    height: auto;
    margin: 0;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

footer h3 {
    font-family: 'Shrikhand', cursive;
    margin: 30px 0px 20px 20px;
    color: #fff;
}

footer a {
    margin: 0px 0px 10px 20px;
    color: #fff;
    text-decoration: none;
}

footer a .fas {
    margin-right: 15px;
}


/*Second page*/

.nav {
    width: 100%;
    height: 80px;
    display: flex;
}

.nav i {
    width: 0px;
    line-height: 80px;
    font-size: 25px;
    text-decoration: none;
    color: #000;
    margin: 0px -20px 0px 20px;
}

.header-image {
    width: 100%;
    min-width: 100%;
    height: 300px;
    object-fit: cover;


}

.meal {
    width: 100%;
    min-width: 100%;
    height: auto;
    margin-top: -30px;
    padding: 30px 0px 30px 0px;
    background-color: #f6f6f6;
    border-radius: 30px 30px 0px 00px;
    position: relative;
}

.meal h1 {
    height: auto;
    width: 100%;
    font-family: 'Shrikhand', cursive;
    margin-left: 20px;
    margin: 0px 0px 30px 3%;
}

.meal h1 i {
    font-weight: 100;
    margin-left: 10px;
    cursor: pointer;
}

.meal .underline {
    height: auto;
    width: 50px;
    padding: 20px 0px 5px 0px;
    border-top: 3px;
    border-color: #99E2D0;
    border-style: none none solid none;
    margin: 40px 0px 10px 3%;
    font-weight: 100;
}

.meal .meal-block {
    width: 94%;
    min-width: 80%;
    height: 90px;
    margin: 0px 0px 20px 3%;
    display: flex;
    float: left;
    background-color: #fff;
    align-content: center;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 0;
    animation-name: fadeinout;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.meal .meal-block:hover .first-part {
    width: 70%;
}

.meal .meal-block:hover .third-part {
    width: 15%;
}

.meal .meal-block:hover .third-part i {
    display: block;
}

.meal .meal-block:hover .third-part a {
    display: block;
}


.meal .meal-block .first-part {
    width: 85%;
    height: 100%;
    margin: 0;
    transition: width 0.5s;
}

.meal .meal-block .second-part {
    width: 15%;
    height: 100%;
    margin: 0;
}

.meal .meal-block .third-part {
    width: 0%;
    border-radius: 0px 20px 20px 0px;
    transition: width 0.5s;
    background-color: #99E2D0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.meal .meal-block .third-part a {
    display: none;
    color: #99E2D0;
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 100%;
}

.meal .meal-block .third-part i {
    text-align: center;
    display: none;
    margin-top: 7px;

}

.meal .meal-block .first-part h3 {
    margin: 20px 0px 10px 20px;
    font-weight: 500;
    width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.meal .meal-block .first-part p {
    margin: 0px 0px 0px 20px;
    font-weight: 100;
    width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.meal .meal-block .second-part .price {
    margin: 15px 0px 0px 0px;
    font-weight: 600;
    line-height: 100px;
}

.last-wrap {
    margin: 0;
    width: 100%;
    min-width: 100%;
    height: auto;
    background-color: #f6f6f6;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 50px;
}




@keyframes fadeinout {
    0% {
        opacity: 0;
    }

    1.85% {
        opacity: 0.2;
    }

    4.63% {
        opacity: 0.5;
    }

    6.48% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

#block1 {
    animation-delay: 0s;
}

#block2 {
    animation-delay: 0.5s;
}

#block3 {
    animation-delay: 1s;
}

#block4 {
    animation-delay: 1.5s;
}

#block5 {
    animation-delay: 2s
}

#block6 {
    animation-delay: 2.5s;
}

#block7 {
    animation-delay: 3s;
}

#block8 {
    animation-delay: 3.5s;
}

#block9 {
    animation-delay: 4s;
}

#block10 {
    animation-delay: 4.5s;
}


/*Responsive*/


@media all and (min-width: 992px) {

    .second-wrap .step {
        width: 29%;
        min-width: 29%;
        margin: 20px 0px 20px 3%;
        display: flex;
        float: left;
    }

    .second-wrap {
        height: auto;
        padding-bottom: 120px;
        display: block;
    }

    .third-wrap {
        height: auto;
        display: flex;
        flex-flow: wrap;
    }

    .third-wrap h1 {
        width: 95%;
        height: auto;
        margin: 50px 0px 0px 20px;
    }

    .third-wrap .block {
        width: 20%;
        min-width: 20%;
        margin-left: 3%;
    }

    .meal .meal-block {
        width: 29%;
        min-width: 29%;
        height: 90px;
        margin: 0px 0px 20px 3%;
    }
}


@media all and (max-width: 320px) {

    .meal h1 {
        font-size: 27px;
    }

    .meal h1 i {
        font-weight: 100;
        margin-left: 15px;
    }

    .meal .meal-block .second-part .price {
        margin: 12px 0px 0px 0px;
    }
}

@media all and (min-width: 768px) and (max-width: 992px) {

    .second-wrap .step {
        width: 94%;
        min-width: 94%;
        margin: 20px 0px 20px 3%;
        display: flex;
        float: left;
    }

    .third-wrap {
        height: auto;
        display: flex;
        flex-flow: wrap;
        float: left;
    }

    .third-wrap h1 {
        width: 95%;
        height: auto;
        margin: 50px 0px 0px 3%;
    }

    .third-wrap .block {
        width: 44%;
        min-width: 44%;
        margin-left: 3%;
    }
}
